<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Comic_Book_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Comic_Book_Maker.Properties.Settings>
            <setting name="create_from_folders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="create_from_archives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rar_path" serializeAs="String">
                <value>C:\Program Files\WinRAR\Rar.exe</value>
            </setting>
            <setting name="convert_comics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clean_files_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clean_files_string" serializeAs="String">
                <value>zzz*.*</value>
            </setting>
            <setting name="clean_files_limit_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clean_files_limit_n" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="remove_folders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remove_folders_smart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="multi_core_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="multi_core_n_max" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="close_after_complete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delete_input_files" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file_exist_suffix" serializeAs="String">
                <value> (\n)</value>
            </setting>
            <setting name="output_type_selection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="column_width_input" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="column_width_type" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="column_width_output" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="column_width_state" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="file_exist_selection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form_location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="form_size" serializeAs="String">
                <value>1100, 550</value>
            </setting>
            <setting name="output_path" serializeAs="String">
                <value>C:\Users\Gabriel\Desktop\Out\</value>
            </setting>
            <setting name="specifiy_ouput_folder" serializeAs="String">
                <value>True</value>
            </setting>
        </Comic_Book_Maker.Properties.Settings>
    </userSettings>
</configuration>